# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll (移除注释以便上传 .dll 文件)

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a (移除注释以便上传 .a 文件)
# *.lib (移除注释以便上传 .lib 文件)

# Executables
# *.exe (移除注释以便上传 .exe 文件)
*.out
*.app
